@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

ul,
li,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}


img {
  display: block;
  object-fit: cover;
  height: 100%;
}

button {
  cursor: pointer;
}

.visually_hidden {

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);

}

/*-------- HEADER-----------*/



.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.navigation_logo {
  margin-right: 28px;
}

.navigation_top_logo {
  max-width: 140px;
  margin-bottom: -10px;
}

.navigation {

  max-width: 1060px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: white;
}



.navigation_link_logo {
  padding: 0;
  margin: 0;
}

.navigation_text_links {
  display: flex;
  align-items: center;
}

.navigation_list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.navigation_item {
  display: flex;
  padding: 0 16px;
}

.navigation_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  height: 64px;
}

.navigation_link:hover,
.navigation_link:active {
  color: #756157;
  border-bottom: 2px solid #e4dbd7;
  padding-top: 2px;
}

.navigation_link:disabled {
  color: #E5E5E5;
}

.current_page {
  border-bottom: 2px solid #756157;
  padding-top: 2px;
}

.navigation_list_icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: 100%;
  align-items: center;
}

.counter {
  position: relative;
}

.navigation_icon_link_count {
  position: absolute;
  z-index: 5;
  top: -11px;
  left: 19px;
  background-color: #7DB54F;
  color: white;
  font-size: 10px;
  line-height: 100%;
  padding: 5px;
  border-radius: 10px;

}

.navigation_icon_link_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  align-items: center;
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
  margin: 10px 22px;
  margin-right: 0;
  min-width: 160px;
}

.navigation_list_icons_link {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation_icons_link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 0 12px;
}

.navigation_icon:hover path,
.navigation_icon:active path {
  fill: #615048;
}

.navigation_icon_link_button:hover,
.navigation_icon_link_button:focus {
  background-color: #615048;
}

.navigation_icon_link_button:active {
  color: rgba(255, 255, 255, 0.3)
}

.navigation_icon_link_button:disabled {
  background-color: #E5E5E5;
}

/*-------- welcome text-----------*/

.welcome_image {
  background: url("../images/index_background.jpg") no-repeat;
  min-width: 1200px;
  background-size: cover;
  margin-bottom: 70px;
}

.welcome_sedona_text {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 82px;
}

/*-------- advantages-----------*/

.advantages_start {
  text-align: center;
}

.advantages_header {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages_text {
  font-size: 22px;
  margin-bottom: 90px;
}

.advantages_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.advantages_item_long_image {
  height: 100%;
}

.advantages_item {
  background-color: rgba(131, 179, 211, 0.2);
  color: black;
  width: calc(100%/3);
  min-height: 385px;
  align-items: center;
  flex-shrink: 0;
}

.advantages_item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages_list_long .advantages_item_advantages_item_text,
.advantages_item_text {
  flex-shrink: 0;
  width: calc(100%/3);
  padding: 30px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages_item_text_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-align: center;
  max-width: 172px;
  text-transform: uppercase;
  margin: 0 auto;
}

.advantages_item_text_header::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.3);
}


.advantages_item_text_description {
  color: #333333;
  max-width: 230px;
  margin: 0 auto;
}

.advantages_item_advantages_item_text {
  background-color: #82B3D3;
  color: #fff;
}

.advantages_item_advantages_item_text .advantages_item_text_description {
  color: inherit;
}

.advantages_item_advantages_item_text .advantages_item_text_header::after {
  background-color: #fff;
}

.advantages_list_long:nth-child(4n + 1) {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.advantages_list_long:nth-child(8n + 1) {
  flex-direction: row;
}

/*-------- products-----------*/

.products_header_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 64px auto 20px auto;
  max-width: 510px;
}

.products_header_text {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 64px;
  color: #333333;
}

.products_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.products_item {
  flex-shrink: 0;
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 81px 85px;
}

.products_item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.products_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 29px 0;
}

.products_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: center;
  color: #333333;
  max-width: 230px;
}

.products_icon {
  width: 75px;
  height: 72px;
  object-fit: contain;
}

/*-------- Find Hotel-----------*/

.find_hotel_container {
  max-width: 592px;
  margin: 96px auto;
}

.find_hotel_title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.find_hotel_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
}

.find_hotel_link {
  display: block;
  width: 376px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  color: white;
  transition: 0.3s ease opacity;
}

.brown_button:hover,
.brown_button:focus {
  background-color: #615048;
}

.brown_button:active {
  color: rgba(255, 255, 255, 0.3)
}

.brown_button:disabled {
  background-color: #E5E5E5;
}

/*-------- Subscribe-----------*/

.subscribe_image {
  background-image: url("../images/subscribe_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 415px;
  display: flex;
  justify-content: center;
}

.subscribe_content {
  width: 684px;
}

.subscribe_item_text {
  padding: 0 105px;
  margin-bottom: 54px;

}

.subscribe_title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin: 96px 0 20px 0;
}

.subscribe_text {
  font-weight: 400;
  font-size: 22px;
  color: white;
  margin: 0 auto 54px auto;
  width: 70%;
}

.subscribe_button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 10px 50px;
  min-width: 232px;
  max-width: 300px;
  flex-shrink: 0;
  border: none;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.blue_button {
  background-color: #82B3D3;
}

.blue_button:hover,
.blue_button:focus {
  background-color: #68A2CA;
}

.blue_button:active {
  color: rgba(255, 255, 255, 0.3);
}

.blue_button:disabled {
  background-color: #E5E5E5;
}

.liked_blue_button {
  background-color: #7DB54F;
}

.subscribe_email_input {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: black;
  border-radius: 4px 0 0 4px;
  padding: 15px 20px;
  border: none;
  flex-grow: 1;
  margin: 0;
  background-color: white;
}

/*-------- Footer-----------*/

.footer_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1060px;
  margin: 0 auto;
  align-items: center;
  padding: 40px 0 30px 0;
}

.footer_icon_list {
  display: flex;
  align-items: center;
  padding: 0;
}

.footer_icon_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.html_logo_link {
  display: flex;
}

.footer_icon path {
  fill: #83B3D3;
  width: 50px;
}

.footer_icon:hover path,
.footer_icon:focus path {
  fill: #68A2CA;
}

.footer_icon:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer_phone {
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
}

.footer_phone:hover,
.footer_phone:focus {
  color: #756157;
}

.footer_phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer_logo:hover path,
.footer_logo:focus path {
  fill: #756157;
}

.footer_logo:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/*-------- Catalog. Hotel_search-----------*/

.sedona_hotels_search {
  background-color: #3F5E72;
  background-image: url("../images/background_filter_catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.catalog_section_container {
  max-width: 1060px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.sedona_hotel_item {
  padding-top: 38px;
  margin-bottom: 35px;

}

.sedona_hotels_title {
  font-weight: 700;
  font-size: 60px;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
}

.breadcrubs_list {
  display: flex;
  gap: 18px;
  padding: 0;
  align-items: center;
}

.breadcrubs_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
}

.breadcrubs_link {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.breadcrubs_link.home::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 25px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.breadcrubs_item:first-child {
  margin-left: -5px;
}

.home_icon:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.home_icon:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels_link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.hotels_link:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel_form_box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.hotel_form_list_item {
  border: none;
  padding: 0;
  min-inline-size: unset;
  text-align: left;
  margin: 0;
}

.hotel_form:not(:last-child) {
  margin-right: 70px;
}

.hotel_form.hotel_type {
  width: 150px;
  margin-right: auto;
}

.hotel_form_item_title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
}

.hotel_form_list {
  padding-left: 0;
  margin-top: 34px;
}

.hotel_form_item {
  display: flex;
  gap: 16px;
  margin-top: 18px;
}

.hotel_form_radio {
  margin-top: 18px;

}

.hotel_form_label {
  display: flex;
  gap: 16px;
}

.checkbox_label {
  display: flex;
  align-items: center;
}

.checkbox_input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 0;
  background-color: #fff;
}

.checkbox_name {
  padding-left: 16px;
  white-space: nowrap;
}

.checkbox_label:has(.checkbox_input:disabled) {
  opacity: 0.3;
  pointer-events: none;
}

.checkbox_input:checked::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 7px;
  top: 5px;
  left: 5px;
  border-bottom: 2px solid #3F5E72;
  border-left: 2px solid #3F5E72;
  transform: rotate(-45deg);
}

.checkbox_label:hover {
  opacity: 0.6;
}

.checkbox_label:focus::before {
  background-color: #fff;
  border: 3px solid #83B3D3;
}

.checkbox_label:active {
  opacity: 0.3;
}

.radio_name {
  display: block;
  padding-left: 16px;
}

.radio_label {
  display: flex;
  position: relative;
}

.radio_input {
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin: 0;
  background-color: #fff;
}

.radio_label:has(.radio_input:disabled) {
  opacity: 0.3;
  pointer-events: none;
}

.radio_input:checked::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.radio_label:hover {
  opacity: 0.6;
}

.radio_label:focus::before {
  background-color: #fff;
  border: 3px solid #83B3D3;
}

.radio_label:active {
  opacity: 0.3;
}

.radio_label:disabled {
  opacity: 0.3;
}

.hotel_form_container_hotel_type {
  margin-right: 70px;
}

.hotel_price_list {
  display: flex;
  padding: 0;
  margin-top: 32px;
}

.hotel_minimal_price_item {
  position: relative;
}

.hotel_maximal_price_item {
  position: relative;
}

.price_input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
  width: 143px;
  height: 48px;
}

.price_input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.price_input::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.minimal_price {
  border-radius: 4px 0 0 4px;
  border: 0;
}

.maximal_price {
  border-radius: 0 4px 4px 0;
  border: 0;
  margin-right: 10px;
  margin-left: 2px;
}

.input_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: absolute;
  left: 106px;
  bottom: 13px;
  opacity: 0.3;
}

.hotel_search_buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.hotel_search_button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  border: none;
}

.transparent_button {
  background: none;
  border: none;
  color: #fff;
}

.transparent_button:hover {
  opacity: 0.6;
}

.transparent_button:focus {
  box-shadow: inset 0 0 0 2px #83B3D3;
}

.transparent_button:active {
  color: rgba(255, 255, 255, 0.3);
}

.transparent_button:disabled {
  color: rgba(255, 255, 255, 0.1);
}


.price_slider_container {
  position: relative;
  width: 100%;
  margin-top: 45px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price_slider_range {
  position: absolute;
  top: 0;
  width: 226px;
  height: 4px;
  background-color: #fff;
}

.price_slider.higher {
  position: absolute;
  top: -8px;
  left: 208px;
  border: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.price_slider.lower {
  position: absolute;
  top: -8px;
  border: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 0;
}

/*--------Search_result-----------*/

.search_result {
  align-items: center;
}

.search_result_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 50px 70px 40px;
}

.search_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  margin: 0;
  margin-right: auto;
  text-transform: uppercase;
}

.hotel_filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  border: 2px solid #E5E5E5;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
  border-radius: 4px;
  padding: 12px 20px;
  width: 292px;
  margin-right: 72px;
}

.hotel_filter:hover,
.hotel_filter:focus {
  border: 2px solid #68A2CA;
}

.hotel_filter:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.hotel_filter_container {
  position: relative;
}

.hotel_filter_container::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 19px;
  right: 92px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  transform: rotate(45deg);
}

.hotel_list_vision {
  display: flex;
  gap: 8px;
  padding: 0;
}

.button_view_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.current_vision {
  border: 2px solid #000000;
}

.button_view_link:hover,
.button_view_link:active {
  border: 2px solid #000000;
}

.button_view_link:focus {
  border: 2px solid #68A2CA;
}

.hotel_view_link_icon {
  fill: #000000;

}

/*--------Hotels catalog-----------*/

.hotel_cards {
  max-width: 1060px;
  margin: 0 auto;
}

.hotel_cards_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}

.hotel_card_item {
  display: flex;
  gap: 16px;
  width: 340px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 19px;
  flex-direction: column;
}

.hotel_card_item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #000000;
  text-align: left;
  margin: 0;
}

.hotel_card_item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.hotel_card_item_about {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 9px 26px;
  background-color: #756157;
  border-radius: 4px;
  width: 140px;
  height: 100%;
  color: #fff;
}

.hotel_card_item_button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 4px;
  width: 140px;
  height: 100%;
  color: #fff;
  border: none;
}

.hotel_card_item_stars {
  width: 140px;
  min-height: 37px;
  background-image: url('../images/Icons/stars.svg');
  background-repeat: no-repeat;
  background-position: 100%;
}

.four_stars {
  background-position: -24px;
}

.three_stars {
  background-position: -48px;
}

.two_stars {
  background-position: -72px;
}

.rating_star_image {
  width: 18px;
  height: 17px;
}

.hotel_rating_number {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 140px;
  background-color: #F2F2F2;
  padding: 9px 22px 8px 23px;
}

.block_devider {
  border: none;
  max-width: 1060px;
  height: 1px;
  background-color: #E5E5E5;
  margin: 39px auto;
}

/*--------Pagination-----------*/

.pagination_container {
  max-width: 1060px;
  margin: 0 auto 60px auto;
}

.pagination_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination_item {
  display: flex;
  width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.pagination_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  width: 60px;
  padding: 12px 0;
  text-transform: uppercase;
  color: #fff;
}

.pagination_current_item {
  background-color: #F2F2F2;
}

.pagination_current_link {
  color: #000000;
}

.points_item {
  background-color: #fff;
}

.points_link {
  color: #000000;
}

/*--------Catalog subscribe-----------*/

.catalog_subscribe {
  display: flex;
  justify-content: center;
  padding-top: 96px;
}

.subscribe_block_container {
  display: flex;
  max-width: 684px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog_subscribe_item {
  max-width: 475px;
}

.catalog_subscribe_title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.catalog_subscribe_text {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 54px;
}

.subscribe_form_item {
  display: flex;
  margin-bottom: 104px;
}

.catalog_subscribe_button {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  padding: 10px 40px 9px 40px;
  width: 232px;
  border: none;
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.catalog_subscribe_email_input {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px 0 0 4px;
  padding: 15px 20px;
  height: 100%;
  width: 452px;
  border: none;
  flex-grow: 1;
  margin: 0;
  background-color: #F2F2F2;
}

/*--------Popup-----------*/

.find_hotel_popup_container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.find_hotel_popup {
  position: relative;
  width: 717px;
  background-color: #fff;
  margin: auto;
  border-radius: 30px;
  text-align: left;
}

.popup_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  padding-right: 40px;
  margin: 64px 70px;
}

.popup_close_button {
  position: absolute;
  top: 64px;
  right: 54px;
  width: 52px;
  height: 52px;
  border-radius: 150px;
  background-color: #F2F2F2;
}

.popup_close_button:hover,
.popup_close_button:focus {
  background-color: #e0e0e0;
  cursor: pointer;
}

.popup_close_button::after,
.popup_close_button::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 2px;
  top: 25px;
  right: 18px;
  background-color: #000000;
}

.popup_close_button::before {
  transform: rotate(45deg);
}

.popup_close_button::after {
  transform: rotate(-45deg);
}

.popup_item_list {
  width: 577px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  background-color: #fff;
  align-items: center;
}

.popup_item:not(:last-of-type) {
  margin-bottom: 23px;
}

.popup_date_result {
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  margin-left: 157px;
  margin-top: 4px;
}

.arrived_text {
  color: #FF5757;
}

.old_people,
.young_people {
  display: flex;
  align-items: center;
}

.people_number {
  display: flex;
  justify-content: space-between;
}

.popup_label {
  display: flex;
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  justify-content: space-between;
  align-items: center;
}

.popup_arrived_input,
.popup_exit_input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  width: 440px;
  background-color: #F2F2F2;
  border: none;
  text-align: left;
  padding: 16px 20px;
  border-radius: 4px;
  color: #000000;
  outline: none;
}

.popup_arrived_input::placeholder,
.popup_exit_input::placeholder {
  opacity: 0.3;
}

.popup_exit_input:hover,
.popup_arrived_input:hover {
  box-shadow: inset 0 0 0 2px #68A2CA;
}

.popup_exit_input:focus,
.popup_arrived_input:focus {
  box-shadow: inset 0 0 0 2px #68A2CA;
}

.popup_arrived_input::placeholder,
.popup_exit_input::placeholder {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
}

.popup_arrived_label::after,
.popup_exit_label::after {
  content: '';
  position: absolute;
  background-image: url("/images/Icons/calendar.svg");
  top: 21px;
  right: 22px;
  width: 16px;
  height: 15px;
  opacity: 0.3;
}

.young_people_label,
.old_people_label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  margin-right: 46px;
}

.popup_input_btn_decrease {
  position: relative;
  color: rgba(117, 97, 87, 0.3);
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.popup_input_btn_decrease::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: rgba(117, 97, 87, 0.3);
  top: 24px;
  left: 14px;
}

.popup_input_btn_increase {
  position: relative;
  width: 40px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.popup_input_btn_increase::after,
.popup_input_btn_increase::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: #cdc7c4;
  top: 24px;
  left: 12px;
}

.popup_input_btn_increase::before {
  transform: rotate(90deg);
}

.popup_input_btn_decrease:hover,
.popup_input_btn_increase:hover {
  box-shadow: inset 0 0 0 2px #68A2CA;
}

.popup_input_btn_decrease:focus,
.popup_input_btn_increase:focus {
  box-shadow: inset 0 0 0 2px #68A2CA;
}

.yong_people_title {
  margin-right: 10px;
  position: relative;
}

.tooltip_element {
  position: relative;
  background-color: #83B3D3;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  margin-left: 10px;
}

.tooltip_element::before {
  content: 'i';
  font-size: 14px;
  position: absolute;
  color: #ffffff;
  left: 11px;
  top: 1px;
  z-index: 1;
}

.young_people_tooltip_text {
  position: absolute;
  top: 45px;
  left: -55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  background-color: #333333;
  border-radius: 10px;
  width: 256px;
  padding: 15px 18px 18px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: none;
}

.young_people_tooltip_text::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 117px;
  width: 19px;
  height: 19px;
  background-color: #333333;
  transform: rotate(45deg);
}

.tooltip_element:hover,
.tooltip_element:focus {
  background-color: #68A2CA;
}

.tooltip_element:hover + .young_people_tooltip_text {
  display: block;
}

.popup_input {
  -moz-appearance: textfield;
  font-family: inherit;
  width: 31px;
  height: 48px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  background-color: #F2F2F2;
  border: none;
}

.popup_input:hover,
.popup_input:focus {
  box-shadow: inset 0 0 0 2px #68A2CA;
  outline: none;
}

.popup_button_find {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  width: 577px;
  border: none;
  padding: 18px;
  border-radius: 10px;
  margin: 48px auto 64px;
  color: #fff;
}
